# Object files
*.o
*.mod

# build, lib, bin directory
build
lib
bin

# Generated documentation
doc

# vim files
.*.un~
.*swp

tags

# Temporary files
CMakeCache.txt
CMakeFiles/
cmake/CMakeCache.txt
cmake/CMakeFiles/
cmake/Makefile
cmake/cmake_install.cmake
cmake/install_manifest.txt
